{% load qr_code %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
    
    .id-card {
        width: 3in;
        height: 52vh;
        border: 2px solid var(--bs-dark);
        padding: 2rem 1.5rem;
    }
    
    #card-qr,
    #card-avatar {
        width: 9rem;
        height: 9rem;
    }
</style>
<div class="container-fluid" id="pay_info">
    <div class="d-flex mb-3">
        <div class="px-2">
            <div class="pay_info">
                <div class="head-text text-center fw-bolder">{{system_name}}</div>
                <div class="d-flex w-100 justify-content-center my-4">
                    <img src="{% if employee.avatar %}{{employee.avatar.url}}{% endif %}" id="card-avatar" class="img-thumbnail" alt="">
                </div>
            <br>
                <div class="lh-1">
                    <div class="text-center fw-bold">{{ employee.first_name }} {{ employee.last_name }}</div>
                    <div class="text-center fw-light text-sm">{{ employee.department }}</div>
                    <div class="text-center fw-light text-sm">{{ employee.position }}</div>
                </div>
                <div class="lh-1 text-center">
                    <div class="text-center"><b>{{employee.employee_code}}</b></div>
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="id-card">
                <div class="lh-1">
                    <dl>
                        <dt>Start Date</dt>
                        <dd>{{ payroll.start_date }}</dd>
                        <dt>End Date</dt>
                        <dd>{{ payroll.end_date }}</dd>
                        <dt>Basic Pay</dt>
                        <dd>{{ payroll.basic_pay }}</dd>
                        <dt>Incentive Pay</dt>
                        <dd>{{ payroll.incentive_pay }}</dd>
                        <dt>House Rent Allowance</dt>
                        <dd>{{ payroll.house_rent_allowance }}</dd>
                        <dt>Meal Allowance</dt>
                        <dd>{{ payroll.meal_allowance }}</dd>
                        {% if payroll.date_received %}
                        <dt>Date Received</dt>
                        <dd>{{ payroll.date_received }}</dd>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<noscript id="qr-style">
<style>
    * {
        font-size: 12px;
    }
    * small {
        font-size: 10px;
    }
    .id-card {
        width: 2.11in;
        height: 3.38in;
        border: 2px solid var(--bs-dark);
        padding: 2rem 1.5rem;
        border-radius: 5px;
    }
    #card-avatar {
        width: 1in;
        height: 1in;
    }
    #card-qr {
        width: .7in;
        height: .7in;
    }
</style>
</noscript>
<script>
    $(function() {

    })
    var pay_edit_url = "{% url 'edit_payroll_info' payroll.employee.pk %}";
</script>